<!DOCTYPE html>
<html lang="pt-BR">

<% include ../public/fragments/dependencias/dependenciasCSS %>
<% include ../public/fragments/header %>

</head>

<body>
    <% include ../public/fragments/nav %>
    <% include ../public/fragments/sidebar %>

    <main id="content">
        <div class="row section">
            <div class="col s10 offset-s1">


                <table id="materialize-table">
                    <thead>

                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>CPF</th>
                            <th>Matricula</th>
                            <th>Login</th>
                            <th>Ativo</th>
                        </tr>

                    </thead>

                    <tbody>
                        <% for(var i=0; i<alunos.length; i++) {%>
                        <tr> 
                            <td><%= alunos[i].nome %></td>
                            <td><%= alunos[i].email %></td>
                            <td><%= alunos[i].cpf %></td>
                            <td><%= alunos[i].matricula %></td>
                            <td><%= alunos[i].login %></td>
                            <td><%= alunos[i].ativo %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>


            </div>
        </div>
    </main>


    <% include ../public/fragments/footer %>
    <% include ../public/fragments/javascripts %>
    <% include ../public/fragments/dependencias/dependenciasJS %>
    <script src="/javascripts/listarAlunos.js"></script>

</body>

</html>